<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!-- Encoding -->
      <meta charset="utf-8">
      <title>AppName</title>
    </head>

    <body ng-app>
      <div class="navbar-fixed">
        <nav class="#448aff blue accent-2">
          <div class="nav-wrapper">
            <a href="" class="brand-logo">AppName</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ path('ct_user_signinpage') }}">S'inscrire</a></li>
              <li><a href="{{ path('ct_user_loginpage') }}">Se connecter</a></li>
              <li><a href="">L'application mobile</a></li>
              <li><a href="mobile.html">FAQ</a></li>
              <li><a href="mobile.html">À propos</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="{{ path('ct_user_signinpage') }}">S'inscrire</a></li>
              <li><a href="{{ path('ct_user_loginpage') }}">Se connecter</a></li>
              <li><a href="">L'application mobile</a></li>
              <li><a href="mobile.html">FAQ</a></li>
              <li><a href="mobile.html">À propos</a></li>
            </ul>
          </div>
        </nav>
      </div>

      {% block body %}

      {% endblock %}


      <footer class="page-footer #448aff blue accent-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Copyright Chrysos
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ asset('materialize/js/jquery-2.2.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('materialize/js/materialize.min.js') }}"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $(".button-collapse").sideNav();
          $('.slider').slider({full_width: true});
        });
      </script>
      {% block javascript %}{% endblock %}
    </body>
  </html>
